.red {
  color: rgb(232, 9, 0);
}

.blue {
  color: rgb(0, 77, 255);
}

.purple {
  color: rgb(153, 102, 255);
}

.gold {
  color: rgb(204, 153, 0)
}

.pink {
  color: rgb(255, 102, 255)
}

.lightblue {
  color: rgb(0, 176, 240)
}

.green {
  color: rgb(46, 204, 113)
}

.orange {
  color: rgb(253, 119, 0)
}
